<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>More Recipes</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="page page__home">
  <header class="site-header">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">More Recipes</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="my_recipes.html">My Recipes</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <li><a href="my_recipes.html">My Recipes</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
        <a href="#" data-activates="mobile-nav" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <section class="search">
        <input class="search__input" type="text" placeholder="search for recipe...">
      </section>  
      <section class="top-rated">
        <h1>Top Rated</h1>
        <ul class="top-rated__list row">
          <li class="top-rated__item col s12 m4 l4 x3">
            <div class="card">
              <img
              src="https://fthmb.tqn.com/4P30MYPyJYr0fxlkBuHmNZg4NO8=/960x0/filters:no_upscale()/about/3167488129_cc7a303896_o-58a6fe3b5f9b58a3c91bf559.jpg"
              alt="pancake" class="card-image">
              <div class="card-content">
                <h4 class="card-title">Pancake</h4>  
                <p>Who doesn’t love pancakes in the morning? These delicious vanilla pancakes are
                  thick and make great belly-warmers for the colder days of the year. Kids and
                  adults alike will enjoy these pancakes before school or work.</p>
              </div>
              <div class="card-action">
                <a href="details.html">Read more</a>
              </div>
            </div>
          </li>
          <li class="top-rated__item col s12 m4 l4 x3">
            <div class="card">
              <img
              src="https://fthmb.tqn.com/4P30MYPyJYr0fxlkBuHmNZg4NO8=/960x0/filters:no_upscale()/about/3167488129_cc7a303896_o-58a6fe3b5f9b58a3c91bf559.jpg"
              alt="pancake" class="card-image">
              <div class="card-content">
                <h4 class="card-title">Pancake</h4>  
                <p>Who doesn’t love pancakes in the morning? These delicious vanilla pancakes are
                  thick and make great belly-warmers for the colder days of the year. Kids and
                  adults alike will enjoy these pancakes before school or work.</p>
              </div>
              <div class="card-action">
                <a href="details.html">Read more</a>
              </div>
            </div>
          </li>
          <li class="top-rated__item col s12 m4 l4 x3">
            <div class="card">
              <img
              src="https://fthmb.tqn.com/4P30MYPyJYr0fxlkBuHmNZg4NO8=/960x0/filters:no_upscale()/about/3167488129_cc7a303896_o-58a6fe3b5f9b58a3c91bf559.jpg"
              alt="pancake" class="card-image">
              <div class="card-content">
                <h4 class="card-title">Pancake</h4>  
                <p>Who doesn’t love pancakes in the morning? These delicious vanilla pancakes are
                  thick and make great belly-warmers for the colder days of the year. Kids and
                  adults alike will enjoy these pancakes before school or work.</p>
              </div>
              <div class="card-action">
                <a href="details.html">Read more</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <p>Crafted with <i class="mdi mdi-heart"></i> by <a href="william.ng">William I. Olojede</a></p>
    </div>
  </footer>

  <!-- Javascript  -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
