<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MoreRecipes | Profile</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="page page__profile">
    <header class="site-header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">MoreRecipes</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="my_recipes.html">My Recipes</a></li>
            <li><a href="favorites.html">Favorite(s)</a></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <li><a href="my_recipes.html">My Recipes</a></li>
            <li><a href="favorites.html">Favorite(s)</a></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="container">
        <section class="profile__details">
          <h3>Profile</h3>
          <label>
            Name
            <input type="text" value="Tayelolu Johnson" disabled></label>
          <label>
            Email
            <input type="text" value="tayelolu.johnson@mail.com" disabled>
          </label>
        </section>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <p>Crafted with <i class="mdi mdi-heart"></i> by <a href="http://william.ng/">William I. Olojede</a></p>
      </div>
    </footer>

    <!-- Javascript  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>