form.auth-form{
  width: 100%;

  label{
    display: block;
    // color:  !important;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  input.form__input{
    border: 2px solid #ddd;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 1rem;
    display: block;
    height: initial;
    transition: 0.1s ease-in border;

    &:focus{
      border: 1px solid #26a69a;
      box-shadow: 0 1px 0 0 #26a69a;
    }
  }

  button[type="submit"]{
    background: $site-bg;
    border-style: none;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 2px;
    padding: 1rem;
    color: #fff;
    transition: 0.1s ease-in background;
    
    &:hover{
      background: $site-bg * .9;
    }
  }
}