@import "login";
@import "details";

// GLOBAL STYLES FOR PAGES
.page__login, .page__register{
  background-color: $site-bg;

  header{
    margin-top: 2rem;
    a {
      font-size: 2.1rem;
    }
  }

  .login-card, .register-card{
    float: initial !important;
    margin-right: auto;
  }

  p{
    a{
      text-decoration: underline;
    }
  }
}
