.my-recipe__manage{
  padding: 0 !important;
  table.my-recipe__manage--table{

    td, th{
      width: calc(100%/3);
      font-size: 1.5rem;
      padding: 1rem 0 0 !important;
    }

    th{
      
      &:last-of-type{
        text-align: right;
      }
    }
    thead{
      border-bottom: 2px solid #ddd;
    }
    tr{
      &:nth-child(even) {
        border-top: 1px solid #ddd;
      }
    }
    tfoot{
      border-top: 2px solid #ddd;
    }
    .my-recipe__manage--table___action{
      text-align: right;
      a{
        font-size: 2rem;
        &:not(:last-of-type){
          margin-right: 1.5rem;
        }
        &:last-of-type{
          color: $site-bg;
        }
      }
    }
    .my-recipe__manage--table___name{
      // font-size: 1.5rem;
    }
  }
}