.my-recipe__manage{
  table.my-recipe__manage--table{

    td, th{
      width: calc(100%/3);
      text-align: center;
      font-size: 1.5rem;
    }
    
    .my-recipe__manage--table___action{
      a{
        font-size: 2rem;
        &:not(:last-of-type){
          margin-right: 1.5rem;
        }
        &:last-of-type{
          color: $site-bg;
        }
      }
    }
    .my-recipe__manage--table___name{
      // font-size: 1.5rem;
    }
    .my-recipe__manage--table___img{
      img{
        width: auto;
        max-height: 100px;
      } 
    }
  }
}