.recipe__stats{
  ul {
    display: flex;
    border: 2px solid #ddd;
    justify-content: center;

    li{
      padding: 1rem !important;
      font-size: 1.2rem;
      p{
        margin: 0;
      }
    }
  }
}