.page__recipe{
  main{
    .container{
      padding-top: 5rem;
      h3 {
        border-bottom: 2px solid #ddd;
        padding-bottom: .5rem;
        margin-bottom: 0;
        font-size: 2rem;
      }
      .recipe__stats,
      .recipe__reviews{
        margin-left: 0;
        margin-right: 0;
      }

      .recipe__stats{
        display: flex;
        border: 2px solid #ddd;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem !important;
        li{
          margin-right: 2rem;
          i {
            font-size: 1.5rem !important;
            margin-right: .3rem;
          }
          span{
            font-size: 1.3rem !important;
          }

        }
        .write-review{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media #{$medium-and-up} {
  .page__recipe{
    main{
      .container{
        .recipe__name{
          margin-top: 0;
        }
      }
    }
  }
}
