@import "login";
@import "details";
@import "profile";
@import "home";
@import "manage";
@import "notFound";

// GLOBAL STYLES FOR PAGES
.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__login, .page__register{
  background: url('../assets/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  header{
    margin-top: 2rem;
    a {
      font-size: 2.1rem;
    }
  }

  .login-card, .register-card{
    float: initial !important;
    margin-right: auto;
  }

  p{
    a{
      text-decoration: underline;
    }
  }
}
