.page__home {
  .page__home--top-rated{
    h1{
      text-align:  center;
      position: relative;
      font-size: 2.5rem;
      color: #383A3F;
    }
    footer{
      text-align: center;
    }
  }
}