.error{
  background: #FD5459;
  padding: .5rem;
  display: flex;
  align-items:  center;

  .error__cancel{
    margin: 0 .5rem;
    cursor: pointer;
  }

  .error__message,
  .error__cancel{
    color: white !important;
    font-weight: bold;
  }
  .error__message{
    flex: 1;
    text-align: center;
    margin: 0;
  }
}
