.recipe__ingredients{
  ul{
    li{
      background: url("../assets/icons/plus-circle-outline.svg") no-repeat left center;
      padding: .5rem  .5rem .5rem 50px;
      // background-size: 42px;
      font-size: 1.2rem;

      &:not(:last-of-type){
        margin-bottom: .5rem;
      }
    }
  }
}