.page-manage__recipes{
  position: relative;
  min-height: 200px;
  .preloader{
    background: transparent;
  }
  .recipes-list{

    .recipes-list-item{
      .card{
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .recipes-list-item__name{
          color: #ddd;
          text-decoration: underline;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          max-width: 76%;
        }

        .recipes-list-item__actions{
          .recipes-list-item__actions-delete{
            color: $site-bg;
            -webkit-appearance: none;
            border: 0;
            background: none;
          }
        }
      }
    }
  }
}
