.page-manage__add{
  .my-recipe__add--form{
    position: relative;

    input, textarea, fieldset, label, .label{
      font-size: 1.2rem;
      display: block;
      -webkit-appearance:none;
    }

    input, textarea, fieldset, select{
      border: 2px solid $site-border;
      padding: .5rem;
      border-radius: $border-radius;
      width: 100%;
    }

    label{
      color: #000;
    }

    li  a {
      i {
        color: $site-bg;
      }
    }

    .form-btns{
      a{
        font-size: 1.2rem;
        margin-left: 1rem;
        text-decoration: underline;
        text-underline-position: under;
      }
    }



    input, textarea, select{
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

      &:focus{
        outline: none;
        border: 1px solid $site-border-focused !important;
        box-shadow: 0 0 5px 1px $site-border-focused !important;
      }
    }

    .description-image{

      label{

        textarea{
          resize: none !important;
          height: 100px;
          margin-bottom: 1rem;

          @media #{$medium-and-up} {
            height: calc(100% - 1.5rem);
            margin-bottom: 0;
          }
        }
      }

      .my-recipe__add--form___img{
        .label{
          margin: 0;
        }
        .image-upload{
          border: 2px solid $site-border;
          padding: 1rem;
          border-radius: $border-radius;

          .image-upload__preview{
            position: relative;
            min-height: 120px;
            max-height: 300px;
            overflow: hidden;
          }

          .image-upload__progress{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50px;
              height: 50px;
            }
          }

          label{
            text-align: center;
            display: block;
            width: 100%;
            padding: .5rem 0;
            background-color: #eff3f6;
            border-radius: $border-radius;
            cursor: pointer;
            margin-top: .5rem;
            border: 1px solid #ddd;
          }
        }

        input{
          display: none;
        }
      }

      @media #{$medium-and-up} {
        display: flex;
        justify-content: space-between;

        .my-recipe__add--form___desc{
          width: 65%;
        }

        .my-recipe__add--form___img{
          width: 30%;
        }
      }
    }

    .ingredients-instruction{
      margin: 1.5rem 0;

      fieldset{
        padding: 1rem;

        ol{
          margin-top: 0;
          padding-left: 1rem; // same as the padding on the parent so as to pull to the start of the parent's padding

          li{
            max-width: 100%;
            word-break: break-all;
          }
        }
        textarea{
          resize: none !important;
          max-width: 100%;
        }
      }


      .ingredients-form.my-recipe__add--form___ingredients{
        margin-bottom: 1.5rem;
      }
    }
    .form-btns {
      .form-btn {
        &.form-btn__cancel{
          margin-right: 1.2rem;
        }
      }
    }

    .form__submit:disabled {
      background: #d66368;
    }
  }
}

@media #{$medium-and-up} {
  .page-manage__add{
    .my-recipe__add--form{
      .ingredients-instruction{
        display: flex;
        justify-content: space-between;

        .ingredients-form.my-recipe__add--form___ingredients{
          width: 40%;
          margin-bottom: 0;
        }
        .instructions-form.my-recipe__add--form___instructions{
          width: 55%;
        }
      }
    }
  }
}
