.my-recipe__manage{
  padding: 0 !important;
  table.my-recipe__manage--table{

    td, th{
      width: calc(100%/3);
      font-size: 1.5rem;
      padding: 1rem !important;
    }

    th{

      &:last-of-type{
        text-align: right;
      }
    }
    thead{
      border-bottom: 2px solid #ddd;
    }
    tr{
      &:nth-child(even) {
        border-top: 1px solid #ddd;
      }
    }
    td.my-recipe__manage--table___name a{
      color: initial;
    }
    tfoot{
      border-top: 2px solid #ddd;
      td {
        text-align: center;
      }
    }
    .my-recipe__manage--table___action{
      text-align: right;
      button{
        font-size: 2rem;
        &:not(:last-of-type){
          margin-right: 1.5rem;
        }
        &:last-of-type{
          color: $site-bg;
          -webkit-appearance: none;
          border: 0;
          background: none;
        }
      }
    }
  }
}
