.recipe-card{
  .recipe-card__img{
    height: 210px;
    display: block;
    overflow: hidden;

    img{
      height: 100%;
    }
  }
  .recipe-card__description {
    color: #7f7f7f !important;
  }
  .recipe-card__info-by{
    color: #7f7f7f;
  }
  .card-content, .card-action{
      padding: .5rem 1rem;
  }
  .card-action{
    display: flex;
    align-items: center;

    img{
      width: 45px;
      height: 45px;
      margin-right: 1rem;
    }
    .recipe-card__info{
      flex: 1;
    }
  }
}
