ul.recipe-stats {
  display: flex;
  // border: 2px solid #ddd;
  justify-content: space-between;

  li{
    // padding: 1rem !important;
    font-size: 1.2rem;
    p{
      margin: 0;
    }
    i {
      font-size: 1.5rem;
    }
    span{
      font-size: .8rem;
    }
    button{
      margin: 0 !important;
      -webkit-appearance: none;
      border: 0;
      padding: 0;
      background: none;
      transition:color 1s ease;
    }
    &.recipe-stats__views{
      i, span{ color: #5B96C4 !important; }
    }
    &.recipe-stats__favorite{
      button{
        color: rgba(254, 170, 38, .5);
        &.active{
          color: rgb(254, 170, 38);
        }
        &:hover{
          color: rgb(254, 170, 38);
        }
      }
    }
    &.recipe-stats__vote-down{
      button{
        color: rgba(255, 0, 0, .5);
        &.active{
          color: rgb(255, 0, 0);
        }
        &:hover{
          color: rgb(255, 0, 0);
        }
      }
    }
    &.recipe-stats__vote-up{
      button{
        color: rgba(0, 169, 0, 0.5);
        &.active{
          color: rgb(0, 169, 0);
        }
        &:hover{
          color: rgb(0, 169, 0);
        }
      }
    }
  }
}

