ul.recipe-stats {
  display: flex;
  border: 2px solid #ddd;
  justify-content: center;

  li{
    // padding: 1rem !important;
    font-size: 1.2rem;
    p{
      margin: 0;
    }
    &.recipe-stats__views{
      i, span{ color: #5B96C4; }
    }
    &.recipe-stats__favorite{
      a{ color: #FEAA26; }
    }
    &.recipe-stats__vote-down{
      a{ color: red; }
    }
    &.recipe-stats__vote-up{
      a{ color: #00A900; }
    }
  }
}

