.recipe__stats{
  ul {
    display: flex;
    border: 2px solid #ddd;
    justify-content: center;

    li{
      padding: 1rem !important;
      font-size: 1.2rem;
      p{
        margin: 0;
      }
      &.views{
        i, span{ color: #5B96C4; }
      }
      &.favorite{
        a{ color: #FEAA26; }
      }
      &.vote__down{
        a{ color: red; }
      }
      &.vote__up{
        a{ color: #00A900; }
      }
    }
  }
}