.review__card{
  .wrapper{
    display: flex;
  }

  .review__card-card-content{
    margin-left: 1rem;

    .review__card-card-content___top{
      display: flex;
      .user-name{
        font-weight: 700;
        margin: 0;
        margin-right: 1.5rem;
      }
      .time-since{
        color: rgb(136, 136, 136);
      }
    }

    p{
      margin: 0;
    }
  }

  margin-bottom: 1rem;
}

