.site-header__nav{
  button{
    -webkit-appearance: none;
    background-color: transparent;
    color: #383A3F;
    border: none;
    padding: 0;
    height: 100%;
  }

  button.dropdown{
    position: relative;

    .dropdown-overlay{
      position: fixed;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
}
